.container-coaching-un{
     margin-top: 15px;
    background-color: white;
    border: solid  #d4e6f1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 500px;
        height: 400px;
        border-radius: 30px;
    }

    p{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    .gras{
        font-size: 20px;
        //color: #85c1e9;
    }

    span{
        font-weight: bold;
        color: #85c1e9;
    }
}


.container-coaching-deux{
     margin-top: 15px;
    background-color: #85c1e9;
    border: solid  #d4e6f1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 300px;
        height: 300px;
        border-radius: 30px;
    }

    p{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    .gras{
        font-size: 20px;
        //color: #85c1e9;
    }
}

.container-coaching-trois{
    background-color: white;
     border: solid  #d4e6f1;
    border-radius: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .gras{
        font-size: 20px;
        margin-bottom: 10px;
    }

    p{
        letter-spacing: 1px;
        padding: 5px;
    }
}

.container-coaching-quatre{
    background-color: #85c1e9;
     border: solid  #d4e6f1;
    border-radius: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .gras{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p{
        padding: 5px;
    }

    h2{
        margin-top: 5px;
    }
}

.container-coaching-cinq{
     margin-top: 15px;
    background-color: white;
    border: solid  #d4e6f1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 500px;
        height: 400px;
        border-radius: 30px;
    }

    p{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    .gras{
        font-size: 20px;
        //color: #85c1e9;
    }

    span{
        font-weight: bold;
        color: #85c1e9;
    }
}

.container-coaching-six{
    background-color: #85c1e9;
     border: solid  #d4e6f1;
    border-radius: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .gras{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    p{
        letter-spacing: 1px;
        padding: 5px;
    }
}

.container-coaching-sept{
    background-color: white;
     border: solid  #d4e6f1;
    border-radius: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .gras{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    p{
        letter-spacing: 1px;
        padding: 5px;
    }

    .color{
        color: #85c1e9;
    }

    .lien-programme{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #85c1e9;
        border: solid  #d4e6f1;
        border-radius: 30px;
        width: 10%;
        height: 30px;
        text-align: center;
        padding: 2px;
    }

    .lien-programme:hover{
        letter-spacing: 2px;
        border: solid  #3498db ;
        color: black;
    }
}

.container-coaching-huit{
    background-color: #85c1e9;
     border: solid  #d4e6f1;
    border-radius: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .gras{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    p{
        letter-spacing: 1px;
        padding: 5px;
    }
}