.container-hypnose-un{
    margin-top: 15px;
    background-color: white;
    border: solid  #d4e6f1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 500px;
        height: 400px;
        border-radius: 30px;
    }

    p{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    .gras{
        font-size: 20px;
        color: #85c1e9;
    }
}

.container-hypnose-deux{
    margin-top: 15px;
    background-color: #85c1e9;
    border: solid  #d4e6f1;
    border-radius: 30px;
    padding: 15px;

    p{
        padding: 10px;
    }

    .gras{
        font-size: 20px;
    }
}

.container-hypnose-trois{
    margin-top: 15px;
    background-color: white;
    border: solid  #d4e6f1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 500px;
        height: 400px;
        border-radius: 30px;
    }

    p{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    .gras{
        font-size: 20px;
        color: #85c1e9;
    }
}

.container-hypnose-quatre{
     margin-top: 15px;
    background-color: #85c1e9;
    border: solid  #d4e6f1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 500px;
        height: 400px;
        border-radius: 30px;
    }

    p{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    .gras{
        font-size: 20px;
    }
}

.container-hypnose-cinq{
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    border: solid  #d4e6f1;
    height: 50px;

    p{
        width: 80%;
        margin: 0 auto;
    }
}