.outils-container{
    background-color: #d4e6f1;
    border-radius: 30px;
}

.image-outils{
    width: 90%;
}

.title-outils{
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}

.button-outils{
    margin-bottom: 15px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: solid  #85c1e9;
    background-color: #d4e6f1;
    font-size: 20px;
}

.button-outils:hover{
    background-color: #3498db;
}