.container-outil-un{
    display: flex;
    background-color: white;
    border-radius: 30px;
    border: solid #d4e6f1;
    margin-top: 15px;
}

.outil-un{

    margin-left: 10px;

    img{
        width: 250px;
        height: 250px;
    }
}

.outil-deux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    p{
        margin-bottom: 15px;
    }

    span{
        font-size: 20px;
        color: #85c1e9;
    }
}

.container-outil-deux{
    display: flex;
    background-color: #85c1e9;
    border-radius: 30px;
    border: solid #d4e6f1;
    margin-top: 15px;
}

.outil-trois{

    margin-right: 20px;

    img{
        width: 250px;
        height: 250px;
    }
}

.outil-quatre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    p{
        margin-bottom: 15px;
    }

    span{
        font-size: 20px;
        color: white;
    }

    .span{
        color:  white ;
    }
}

.container-outil-trois{
    display: flex;
    background-color: white;
    border-radius: 30px;
    border: solid #d4e6f1;
    margin-top: 15px;
}

.outil-cinq{

    margin-left: 10px;

    img{
        width: 250px;
        height: 250px;
    }
}

.outil-six{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    p{
        margin-bottom: 15px;
    }

    span{
        font-size: 20px;
        color: #85c1e9;
    }
}

.container-outil-quatre{
    display: flex;
    background-color: #85c1e9;
    border-radius: 30px;
    border: solid #d4e6f1;
    margin-top: 15px;
}

.outil-sept{

    margin-right: 20px;

    img{
        width: 250px;
        height: 250px;
    }
}

.outil-huit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    p{
        margin-bottom: 15px;
    }

    span{
        font-size: 20px;
        color: white;
    }

    .span{
        color:  white ;
    }
}

.container-outil-cinq{
    display: flex;
    background-color: white;
    border-radius: 30px;
    border: solid #d4e6f1;
    margin-top: 15px;
}

.outil-neuf{

    margin-left: 10px;

    img{
        width: 250px;
        height: 250px;
    }
}

.outil-dix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    p{
        margin-bottom: 15px;
    }

    span{
        font-size: 20px;
        color: #85c1e9;
    }
}

.container-outil-six{
    display: flex;
    background-color: #85c1e9;
    border-radius: 30px;
    border: solid #d4e6f1;
    margin-top: 15px;
}

.outil-onze{

    margin-right: 20px;

    img{
        width: 250px;
        height: 250px;
    }
}

.outil-douze{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    p{
        margin-bottom: 15px;
    }

    span{
        font-size: 20px;
        color: white;
    }

    .span{
        color:  white ;
    }
}

.container-outil-sept{
    display: flex;
    background-color: white;
    border-radius: 30px;
    border: solid #d4e6f1;
    margin-top: 15px;
}

.outil-treize{

    margin-left: 10px;

    img{
        width: 250px;
        height: 250px;
    }
}

.outil-quatorze{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    p{
        margin-bottom: 15px;
    }

    span{
        font-size: 20px;
        color: #85c1e9;
    }
}

.container-outil-huit{
    margin-top: 15px;
    background-color: #85c1e9;
    border: solid #d4e6f1;
    border-radius: 30px;

    p{
        font-size: 25px;
        text-align: center;
        padding:10px;
    }
}