.proverbe-container{
    margin-top: 15px;
    background-color: white;
    border: solid  #d4e6f1;
    border-radius: 30px;
}

.text-proverbe{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.title-proverbe{
    margin-top: 15px;
    font-size: 20px;
    text-align: end;
    margin-right: 15px;
}