.container-services-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 15px;
}


.services-one{
    width: 25%;
    text-align: center;
    padding-right: 10px;

    img{
        width: 150px;
        height: 150px;
    }

    img:hover{
        transition: 0.3s ease-in-out ;
        width: 200px;
        height: 200px;
    }

    p{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

     button{
        margin-bottom: 15px;
        font-size: 15px;
        padding: 5px;
        border-radius: 15px;
        border: solid #85c1e9;
        background: #d4e6f1;
    }

    button:hover{
        background:#85c1e9 ;
        border: solid #2874a6;
    }
}

.services-one:hover{
     background-color: #d4e6f1;
    border-radius: 30px;
}

.services-one-un{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: solid #d4e6f1;
    border-radius: 30px;
    width: 100%;
    height: 430px;
    margin: 0 auto;
    margin-top: 10px;
}

.services-two{
    width: 25%;
    text-align: center;
    padding-right: 10px;

    img{
        width: 150px;
        height: 150px;
    }

    img:hover{
        transition: 0.3s ease-in-out ;
        width: 200px;
        height: 200px;
    }

     p{
        width: 84%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

     button{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 15px;
        padding: 5px;
        border-radius: 15px;
        border: solid #85c1e9;
        background: #d4e6f1;
    }
     button:hover{
        background:#85c1e9 ;
        border: solid #2874a6;
    }
}

.sevrage-title{
    font-weight: bold;
}

.coaching-title{
    font-weight: bold;
}

.hypnose-title{
    font-weight: bold;
}

.gestion-title{
    font-weight: bold;
}

.services-two:hover{
    background-color: #d4e6f1;
    border-radius: 30px;
}

.services-two-un{
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: white;
    border: solid #d4e6f1;
    border-radius: 30px;
    width: 100%;
    height: 430px;
    margin: 0 auto;
    margin-top: 10px; 
}

.services-three{
    width: 25%;
    text-align: center;
    padding-right: 10px;

    img{
        width: 150px;
        height: 150px;
    }

    img:hover{
        transition: 0.3s ease-in-out ;
        width: 200px;
        height: 200px;
    }

     p{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

     button{
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 15px;
        padding: 5px;
        border-radius: 15px;
        border: solid #85c1e9;
        background: #d4e6f1;
    }
     button:hover{
        background:#85c1e9 ;
        border: solid #2874a6;
    }
}

.services-three:hover{
     background-color: #d4e6f1;
    border-radius: 30px;
}

.services-three-un{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: solid #d4e6f1;
    border-radius: 30px;
    width: 100%;
    height: 430px;
    margin: 0 auto;
    margin-top: 10px; 
}

.services-for{
    width: 25%;
    text-align: center;
    margin-bottom: 10px;

    img{
        width: 150px;
        height: 150px;
    }

    img:hover{
        transition: 0.3s ease-in-out ;
        width: 200px;
        height: 200px;
    }

     p{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    button{
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 15px;
        padding: 5px;
        border-radius: 15px;
        border: solid #85c1e9;
        background: #d4e6f1;
    }
     button:hover{
        background:#85c1e9 ;
        border: solid #2874a6;
    }
}

.services-for:hover{
    background-color: #d4e6f1;
    border-radius: 30px;
}
.services-for-un{
    display: flex;
    flex-direction: column;
    align-items: center;
      background-color: white;
    border: solid #d4e6f1;
    border-radius: 30px;
    width: 100%;
    height: 430px;
    margin: 0 auto;
    margin-top: 10px;
}

.paragraphes-services-three{
    padding-top: 25px;
}
.paragraphes-services-for{
    padding-top: 25px;
}